#div-root {
		padding: 4rem 6rem 4rem 6rem;
}

#div-body {
	margin-top: 25px;
}

#md-layout-content {
	margin-top: 25px;
}

#md-content-content {
	padding: 3rem 1rem 3rem 1rem;
}

.product-image {
	margin: 25px 25px 25px 25px;
}

.vendor-icon {
	height: 80px;
	width: 80px;
	object-fit: contain;
}

#current-price {
	color: red;
	padding: 0px 0px 0px 4px
}

#previous-price {
	text-decoration: line-through;
	padding: 0px 4px 0px 0px;
	color: grey;
}

#md-layout-text > div {
	margin-top: 25px;
}
.custom-button-size {
	height: 50px;
	width: 150px;
}
#review {
	color: white;
	background-color: #4CAF50;
}

.product_name {
	font-size: 24px !important;
}

.product_description {
	font-family: sans-serif;
	margin: 0px;
	white-space: pre-line;
}

.heading {
	font-weight: bold;
	font-size: 1rem;
	padding: 8px 8px 8px 0px;
	margin: 0px;
}

.price_wrapper {
	display: flex;
	align-items:center;
}

.product_button_wrapper {
	position: absolute;
	top: 8px;
	right: 96px;
}

.product_wrapper {
	position: relative;
}

.source_wrapper {
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top: 12px;
}

.sentiment {
	text-transform: capitalize;
	height: 40px;
	width: 80px;
	padding: 8px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
